<div class="center-content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="../../assets/img/git30-logo.png" alt="git30 logo" width="140px" height="55px"
        style="margin-left:5px; margin-top:2px;">
    </a>

    <span class="description" style="font-weight: bold;">Would you please submit a date in order to list repositories
      created in the last <span class="green">30</span>
      days</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 date-picker" type="date" [(ngModel)]="created_at" placeholder="Created At"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="font-weight: bold;"
          (click)="search()">Search</button>
      </div>
    </div>
  </nav>
</div>